@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Pacifico&display=swap');

/* index.css or App.css */
@import "locomotive-scroll/dist/locomotive-scroll.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: import Google Fonts */